@media (max-width: 1200px) {
  .container {
    width: 940px;
    max-width: 940px;
  }
  .menu {
    &__snacks {
      padding: 30px 20px 20px 20px;
      min-height: 1415px;
    }

    &__pasta {
      padding: 20px;
      min-height: 1230px;
    }

    &__dessert {
      padding: 20px;
      min-height: 1430px;
    }

    &__item {
      width: 942px;
    }
  }

  .gallery {
    &__wrapper {
      justify-content: space-around;
      padding: 40px 0 0 0;
      width: 800px;
      margin: 0 auto;
    }
    &__image {
      margin-bottom: 30px;
    }
  }

  .about {
    &__rect {
      width: 975px;
    }
  }

  .contacts {
    iframe {
      width: 940px;
    }
  }
}

  @media (max-width: 991px) {
    .container {
      width: 720px;
      max-width: 720px;
    }

    .menu {
      &__item {
        padding: 30px 15px;
        width: 720px;
      }

      &__new {
        &:before {
          font-size: 0.75rem;
          margin-right: 5px;
        }
      }

      &__chef {
        &:before {
          margin-right: 8px;
        }
      }

      &__simple {
        transform: translateX(35px);
        &_bread {
          margin-right: 183px;
        }
      }

      &__pepper {
        &:before {
          margin-right: 0;
        }
      }

      &__vegan {
        &:before {
          margin-right: 0;
        }
      }

      &__scale {
        transform: translateX(0px);
      }

      &__chef {
        &_pepper {
          transform: translateX(-14px);
          &:before {
            margin-right: 0;
          }
        }
      }

      &__subtitle {
        font-size: 1.125rem;
      }
      &__snacks {
        min-height: 1335px;
      }
      &__pasta {
        min-height: 1170px;
      }
      &__dessert {
        min-height: 1370px;
      }
    }

    .gallery {
      &__wrapper {
        padding-top: 20px;
        width: 720px;
      }
      &__image {
        width: 350px;
        height: 525px;
        margin-bottom: 10px;
      }
    }

    .about {
      &__rect {
        width: 100%;
      }
      &__descr p {
        width: 660px;
      }
    }


    .contacts {
      iframe {
        width: 720px;
      }
    }
  }

  @media (max-width: 767px) {
    .container {
      width: 540px;
      max-width: 540px;
    }

    .burger {
      display: block;
      position: absolute;
      top: 45px;
      right: 60px;
      cursor: pointer;
      font-family: Bitter, serif;
      font-weight: 300;
    }

    .header {
      height: 120px;
      &__menu {
        height: 120px;
        justify-content: center;
      }
      &__left {
        width: 165px;
      }
      &__descr {
        font-size: 0.875rem;
        margin-right: 0;
      }
      &__left, &__right {
        display: none;
      }
      &__circle {
        transform: translateX(-45%);
        img {
          width: 140px;
          height: 134px;
        }
      }
      &__logo {
        margin-right: 0;
        &_menu {
          margin-right: 0;
        }
      }
      &__logo-wrapper {
        align-items: center;
        transform: translateX(22px);
      }
      &__leaves {
        transform: none;
        width: 35px;
        height: 30px;

      }
    }

    .menu {
      padding-top: 120px;

      &__title {
        margin-bottom: 10px;
      }

      &__item {
        width: 520px;
        padding: 30px 5px;
        &_1 {
          height: 1670px;
        }
        &_2 {
          height: 1505px;
        }
        &_3 {
          height: 1415px;
        }
      }

      table {
        margin-bottom: 20px;
      }

      table td {
        font-size: 0.875rem;
        &:nth-child(1) {
          width: 87%;
        }
        &:nth-child(2) {
          width: 12%;
        }
        &:nth-child(3) {
          width: 65px;
        }
      }

      &__chef {
        &_pepper {
          transform: translateX(-2px);
        }
      }

      &__download {
        margin-right: 10px;
      }

      &__lunch {
        order: 3;
      }

      &__subtitle {
        display: none;
      }
      &__other {
        width: auto;
        a {
          &:hover {
            color: white;
          }
        }
      }
      &__snacks {
        min-height: 1030px;
      }
      &__pasta {
        min-height: 890px;
      }
      &__dessert {
        min-height: 1030px;
      }
    }

    .gallery {
      padding-top: 120px;
      &__wrapper {
        width: 540px;
      }
      &__image {
        width: 367px;
        height: 551px;
      }
    }

    .about {
      padding-top: 140px;
      &__descr p {
        width: 500px;
      }
      &__photo {
        width: 540px;
      }
    }

    .contacts {
      padding: 135px 0 20px 0;
      iframe {
        width: 540px;
        height: 300px;
      }
      &__hours {
        width: 160px;
      }
      &__map {
        margin-top: 30px;
      }
      &__phone {
        &:hover {
          color: white;
        }
      }
    }

    .facebook {
      &:hover {
        path {
          fill: white;
        }
      }
    }
    .instagram {
      &:hover {
        path {
          fill: white;
        }
      }
    }
    .tripadvisor {
      &:hover {
        path {
          fill: white;
        }
        rect {
          stroke: white;
        }
      }
    }
  }

  @media (max-width: 575px) {
      .container {
        width: 340px;
        max-width: 340px;
      }
    .burger {
      right: 15px;
      font-size: 0.875rem;
      top: 54px;
    }

    .header {
      &__leaves {
        transform: translateX(-7px);
      }
      &__salute {
        font-size: 2.25rem;
        &:after {
          transform: translate(-1px,-6px);
          width: 140px;
        }
      }
    }

    .menu {
      &__item {
        width: 340px;
        padding: 10px 9px;
        &_1 {
          height: 1830px;
        }
        &_2 {
          height: 1800px;
        }
        &_3 {
          height: 1425px;
        }
      }
      table {
        border-spacing: 0;
      }
      table td:nth-child(3) {
        width: 40px;
      }
      &__title {
        font-size: 1.125rem;
      }
      &__simple {
        transform: translateX(15px);
      }
      &__scale {
        &:before {
          margin-right: 8px;
        }
      }
      &__vegan {
        &:before {
          margin-right: 7px;
        }
      }


      &__subtitle {
        display: none;
      }
      &__breakfast {
        font-size: 0.9375rem;
      }
      &__lunch {
        font-size: 0.9375rem;
      }
      &__snacks {
        padding: 20px 0;
        min-height: 833px;
      }
      &__pasta {
        margin-top: 5px;
        min-height: 770px;
      }
      &__dessert {
        margin-top: 5px;
        min-height: 760px;
      }
    }

    .gallery {
      &__wrapper {
        width: 340px;
      }
      &__image {
        width: 320px;
        height: 480px;
      }
    }

    .about {
      &__descr {
        p {
          width: 324px;
          font-size: 0.875rem;
        }
      }
      &__img {
        margin: 0 5px;
        height: 182px;
      }
      &__rect {
        height: 80%;
      }
      &__photo {
        width: 340px;
      }
    }

    .contacts {
      iframe {
        width: 340px;
      }

      &__hours {
        position: relative;
        text-align: center;
        width: 335px;
        margin-top: 15px;
      }
    }
  }

