@media (max-width: 1200px) {
  .container {
    width: 940px;
    max-width: 940px;
  }
  .menu {
    &__1 {
      width: 960px;
      height: 1311px;
    }

    &__snacks {
      padding: 30px 20px 20px 20px;
      min-height: 1415px;
    }

    &__2 {
      width: 960px;
      height: 1194px;
    }

    &__pasta {
      padding: 20px;
      min-height: 1230px;
    }

    &__dessert {
      padding: 20px;
      min-height: 1430px;
    }

    &__3 {
      width: 960px;
      height: 1400px;
    }
  }

  .gallery {
    &__wrapper {
      justify-content: space-around;
      padding: 40px 0 0 0;
      width: 800px;
      margin: 0 auto;
    }
    &__image {
      margin-bottom: 30px;
    }
  }

  .about {
    &__rect {
      width: 975px;
    }
  }

  .contacts {
    iframe {
      width: 940px;
    }
  }
}

  @media (max-width: 991px) {
    .container {
      width: 720px;
      max-width: 720px;
    }

    .menu {
      &__subtitle {
        font-size: 18px;
      }
      &__snacks {
        min-height: 1335px;
      }
      &__1 {
        display: none;
      }
      &__item-1 {
        height: 1235px;
        &:before {
          display: block;
          content: url("../images/cold-snacks_sm.png");
          transform: scale(0.8);
        }
      }

      &__pasta {
        min-height: 1170px;
      }
      &__2 {
        display: none;
      }
      &__item-2 {
        height: 1135px;
        &:before {
          display: block;
          content: url("../images/pasta_sm.png");
          transform: scale(0.8);
        }
      }

      &__dessert {
        min-height: 1370px;
      }
      &__3 {
        display: none;
      }
      &__item-3 {
        height: 1340px;
        &:before {
          display: block;
          content: url("../images/desserts_sm.png");
          transform: scale(0.8);
        }
      }
    }

    .gallery {
      &__wrapper {
        padding-top: 20px;
        width: 720px;
      }
      &__image {
        width: 350px;
        height: 525px;
        margin-bottom: 10px;
      }
    }

    .about {
      &__rect {
        width: 100%;
      }
      &__descr p {
        width: 660px;
      }
    }


    .contacts {
      iframe {
        width: 720px;
      }
    }
  }

  @media (max-width: 767px) {
    .container {
      width: 540px;
      max-width: 540px;
    }

    .burger {
      display: block;
      position: absolute;
      top: 45px;
      right: 75px;
      cursor: pointer;
      font-family: Bitter, serif;
      font-weight: 300;
    }



    .header {
      height: 120px;
      &__menu {
        height: 120px;
        justify-content: center;
      }
      &__left {
        width: 165px;
      }
      &__descr {
        font-size: 14px;
        margin-right: 0;
      }
      &__left, &__right {
        display: none;
      }
      &__circle {
        transform: translateX(-45%);
        img {
          width: 140px;
          height: 134px;
        }
      }
      &__logo {
        margin-right: 0;
        &_menu {
          margin-right: 0;
        }
      }
      &__logo-wrapper {
        align-items: center;
        transform: translateX(19px);
      }
      &__leaves {
        transform: none;
        width: 35px;
        height: 30px;

      }
    }

    .menu {
      padding-top: 120px;

      &__breakfast {
        margin-left: 20px;
      }

      &__lunch {
        margin-right: 20px;
      }

      &__subtitle {
        transform: translateX(-95px);
      }
      &__other {
        width: auto;
      }
      &__snacks {
        min-height: 1030px;
      }
      &__item-1 {
        height: 930px;
        &:before {
          transform: scale(.6);
        }
      }


      &__pasta {
        min-height: 890px;
      }
      &__item-2 {
        height: 850px;
        &:before {
          transform: scale(.6);
        }
      }

      &__dessert {
        min-height: 1030px;
      }
      &__item-3 {
        height: 1005px;
        &:before {
          transform: scale(.6);
        }
      }
    }

    .gallery {
      padding-top: 120px;
      &__wrapper {
        width: 540px;
      }
      &__image {
        width: 367px;
        height: 551px;
      }
    }

    .about {
      padding-top: 140px;
      &__descr p {
        width: 500px;
      }
      &__photo {
        width: 540px;
      }
    }

    .contacts {
      padding: 135px 0 10px 0;
      iframe {
        width: 540px;
        height: 300px;
      }
      &__hours {
        width: 160px;
      }
      &__map {
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 575px) {

  }
