@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate';
@import "libs/slick";

@import 'base/variables';


* {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: white;
}

* html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;

}

.container {
  max-width: 1120px;
  width: 1120px;
  margin: 0 auto;
}

.burger {
  display: none;
}



@import "blocks/header";
@import "blocks/slider";
@import "blocks/gallery";
@import "blocks/about";
@import "blocks/contacts";
@import "blocks/mobile";
@import "blocks/footer";
@import "blocks/pageup";
@import "blocks/menu-table";


@import 'base/media';