.about {
  padding: 185px 0 0 10px;
  background: url("../images/about-us_bg.jpg") center center/cover no-repeat;
  min-height: 100vh;
  width: 100%;
  &__photo {
    width: 600px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  &__img {
    height: 42vh;
    margin: 0 10px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__descr {
    margin-top: 15px;
    z-index: 1;
    p {
      width: 800px;
      margin: 0 auto 17px auto;
    }
  }
  &__rect {
    position: absolute;
    background: rgba(23, 25, 16, 0.6);
    width: 1000px;
    height: 60%;
    bottom: 0;
  }
}