.contacts {
  padding: 185px 0 20px 0;
  background: url("../img/contacts_bg.jpg") center center/cover no-repeat;
  min-height: 100vh;
  width: 100%;
  &__phone {
    color: white;
    margin-bottom: 8px;
    transition: 0.3s all;
    &:hover {
      text-decoration: none;
      color: $olive;
    }
  }
  &__address {
    margin-bottom: 8px;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__social {
    width: 80px;
    display: flex;
    justify-content: space-between;
    a svg {
      transition: 0.5s all ease-in-out;
      -webkit-transition: 0.5s all ease-in-out;
    }
  }

  &__wrapper {
    position: relative;
    margin-top: 15px;
  }

  &__hours {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 14px;
  }

  &__map {
    margin-top: 20px;
  }
}

.facebook {
  path {
    fill: white;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
  }
  &:hover {
    path {
      fill: $olive;
    }
  }
}

.instagram {
  path {
    fill: white;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
  }
  &:hover {
    path {
      fill: $olive;
    }
  }
}

.tripadvisor {
  path {
    fill: white;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
  }
  rect {
    stroke: white;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
  }
  &:hover {
    path {
      fill: $olive;
    }
    rect {
      stroke: $olive;
    }
  }
}