.header {
  height: 185px;
  background: rgba(23, 25, 16, 0.6);
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  &__menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    height: 185px;
    align-items: center;
  }
  &__link {
    transition: 0.3s all;
    &:hover {
      text-decoration: none;
    }
  }
  &__left {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
  }
  &__logo-wrapper {
    display: flex;
  }
  &__salute {
    font-family: 'Alex Brush', cursive;
    font-size: 38px;
    color: white;
    transition: 0.3s all;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  &__leaves {
    width: 44px;
    height: 39px;
    transform: translateY(10px);
  }
  &__descr {
    font-family: 'Bitter', serif;
    font-weight: 300;
    margin-right: 15px;
  }
  &__circle img {
    width: 160px;
    height: 153px;
  }
  &__circle {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-40%);
  }

}