.header {
  height: 185px;
  background: rgba(23, 25, 16, 0.6);
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  &_black {
    background: $black;
  }

  .active {
    &:before, &:after {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    height: 185px;
    align-items: center;
  }
  &__menu-item {
    transition: 0.3s all;
    &_active {
      color: $olive;
    }
    &:hover {
      color: $olive;
      &:before, &:after {
        width: 43px;
      }
    }
    &:before, &:after {
      display: block;
      content: '';
      background-color: $olive;
      height: 1px;
      width: 0;
      transition: 0.3s all ease-in-out;
    }
    &:after {
      margin-top: 4px;
    }
    &_2 {
      &:hover {
        &:before, &:after {
          width: 59px;
        }
      }
    }
    &_3 {
      &:hover {
        &:before, &:after {
          width: 40px;
        }
      }
    }
    &_4 {
      &:hover {
        &:before, &:after {
          width: 69px;
        }
      }
    }
  }
  &__link {
    transition: 0.3s all ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__left {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    &_menu {
      margin-right: 54px;
    }
  }
  &__logo-wrapper {
    display: flex;
  }
  &__salute {
    font-family: 'Alex Brush', cursive;
    font-size: 38px;
    color: white;
    transition: 0.5s all ease-in-out;
    &:hover {
      text-decoration: none;
      color: $beige;
    }
    &:after {
      content: '';
      display: block;
      width: 145px;
      height: 0.7px;
      background-color: white;
      transform: translate(-4px,-6px);
    }
  }
  &__leaves {
    width: 44px;
    height: 39px;
    transform: translate(-3px, 13px);
  }
  &__descr {
    font-family: 'Bitter', serif;
    font-weight: 300;
    margin-right: 35px;
  }
  &__circle img {
    width: 160px;
    height: 153px;
  }
  &__circle {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-35%);
  }

}