.menu {
  padding-top: 185px;
  background-color: $beigeBg;
  &__snacks {
    height: 1666px;
    background: url("../images/menu_bg1.jpg") center center/cover no-repeat;
    padding: 30px 40px 40px 40px;
    position: relative;
  }
  &__other {
    width: 149px;
    display: flex;
    justify-content: space-between;
    a {
      color: white;
      transition: 0.3s all ease-in-out;
      &:hover {
        text-decoration: none;
        color: $olive;
      }
    }
  }
  &__subtitle {
    position: absolute;
    font-family: Bitter, serif;
    font-weight: 400;
    font-size: 20px;
    left: 50%;
    transform: translateX(-94px);
    top: 30px;
    display: flex;
    align-items: center;
    &:before, &:after {
      display: block;
      content: '';
      width: 15px;
      height: 1px;
      background-color: white;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  &__item-1 {
    margin-top: 30px;
    width: 1120px;
    height: 1541px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pasta {
    margin-top: 15px;
    height: 1480px;
    background: url("../images/menu_bg2.jpg") center center/cover no-repeat;
    padding: 30px;
  }
  &__item-2 {
    width: 1120px;
    height: 1401px;
  }

  &__dessert {
    margin-top: 15px;
    height: 1733px;
    background: url("../images/menu_bg3.jpg") center center/cover no-repeat;
    padding: 30px;
  }
  &__item-2 {
    width: 1120px;
    height: 1648px;
  }
}