.menu {
  padding-top: 170px;
  background-color: $beigeBg;
  &__breakfast {
    font-size: 16px;
  }
  &__lunch {
    font-size: 16px;
  }
  &__snacks {
    min-height: 1687px;
    background: url("../images/menu_bg1.jpg") center center/cover no-repeat;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__other {
    width: 190px;
    display: flex;
    justify-content: space-between;
    a {
      color: white;
      transition: 0.3s all ease-in-out;
      &:hover {
        text-decoration: none;
        color: $olive;
      }
    }
  }
  &__subtitle {
    position: absolute;
    font-family: Bitter, serif;
    font-weight: 400;
    font-size: 20px;
    left: 50%;
    transform: translateX(-87px);
    top: 30px;
    display: flex;
    align-items: center;
    &:before, &:after {
      display: block;
      content: '';
      width: 15px;
      height: 1px;
      background-color: white;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  &__item-1 {
    margin-top: 30px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__1 {
    width: auto;
    height: auto;
  }

  &__pasta {
    margin-top: 15px;
    min-height: 1492px;
    background: url("../images/menu_bg2.jpg") center center/cover no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__item-2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__2 {
    width: auto;
    height: auto;
  }

  &__dessert {
    margin-top: 15px;
    min-height: 1733px;
    background: url("../images/menu_bg3.jpg") center center/cover no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__item-3 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__3 {
    width: auto;
    height: auto;
  }


}