.menu {
  padding-top: 170px;
  background-color: $beigeBg;
  &__breakfast {
    font-size: 16px;
  }
  &__lunch {
    font-size: 16px;
  }
  &__snacks {
    min-height: 1750px;
    background: url("../img/menu_bg1.jpg") center center/cover no-repeat;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__other {
    width: 190px;
    display: flex;
    justify-content: space-between;
    a {
      color: white;
      transition: 0.3s all ease-in-out;
      &:hover {
        text-decoration: none;
        color: $olive;
      }
    }
  }
  &__subtitle {
    position: absolute;
    font-family: Bitter, serif;
    font-weight: 400;
    font-size: 20px;
    left: 50%;
    transform: translateX(-100px);
    top: 30px;
    display: flex;
    align-items: center;
    &:before, &:after {
      display: block;
      content: '';
      width: 15px;
      height: 1px;
      background-color: white;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }

  &__pasta {
    margin-top: 15px;
    min-height: 1490px;
    background: url("../img/menu_bg2.jpg") center center/cover no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__dessert {
    margin-top: 15px;
    min-height: 1570px;
    background: url("../img/menu_bg3.jpg") center center/cover no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__item {
    padding: 40px 60px;
    width: 1120px;
    background: rgba(240, 231, 222, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
    &_1 {
      margin-top: 30px;
      height: 1634px;;
    }
    &_2 {
      height: 1435px;
    }
    &_3 {
      height: 1510px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: Bitter, serif;
    font-size: 24px;
    color: $black;
    text-align: center;
    caption-side: top;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-spacing: 3px;
    border-collapse: inherit;
    margin-bottom: 30px;
    td {
      color: $black;
      font-family: Bitter, serif;
      &:nth-child(2) {
        width: 10%;
      }
    }

  }

  &__vegan {
    display: flex;
    align-items: center;
    &:before {
      content: url("../icn/menu_leaves.svg");
      display: block;
      width: 35px;
      height: 39px;
      margin-right: 15px;
    }
  }

  &__pepper {
    display: flex;
    align-items: center;
    &:before {
      content: url("../icn/menu_pepper.svg");
      display: block;
      margin-right: 15px;
    }
  }
  &__scale {
    display: flex;
    align-items: center;
    transform: translateX(17px);
    &:before {
      content: url("../icn/menu_scale.svg");
      display: block;
      margin-right: 15px;
    }
  }


  &__new {
    display: flex;
    align-items: center;
    &:before {
      content: "NEW";
      font-family: Bitter, serif;
      display: block;
      color: $olive;
      margin-right: 15px;
      font-size: 14px;
    }
  }

  &__chef {
    display: flex;
    align-items: center;
    &:before {
      content: "chef";
      font-family: Bitter, serif;
      display: block;
      margin-right: 15px;
      font-size: 14px;
    }
    &_pepper {
      transform: translateX(-26px);
      &:before {
        content: "chef" url("../icn/menu_pepper.svg");
        display: block;
        align-items: center;
        margin-right: 13px;
      }
    }
  }

  &__simple {
    transform: translateX(50px);
    padding: 6px 0;
    display: flex;
    &_bread {
      width: 90%;
    }
  }


}