.slider {

  &__item {
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    &_1 {
      background-image: url("../images/main_slider1.jpg");
    }

    &_2 {
      background-image: url("../images/main_slider2.jpg");
    }

    &_3 {
      background-image: url("../images/main_slider3.jpg");
    }

    &_4 {
      background-image: url("../images/main_slider4.jpg");
    }

    &_5 {
      background-image: url("../images/main_slider5.jpg");
    }
  }

   .slick-next, .slick-prev {
    position: absolute;
    top: 88vh;
    right: 40px;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }

  .slick-prev {
    right: auto;
    left: 40px;
    z-index: 1;
  }

  .slick-dots {
    position: absolute;
    top: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50px);
    width: 120px;
    margin: 0 auto;
    padding: 0;
    line-height:0;
  }


  button {
    background: none;
    border: none;
    color: transparent;
  }

  .slick-dots li {
    color: transparent;
  }

  .slick-dots li button:before {
    display: flex;
    content: url("../icn/dot.svg");

  }
  .slick-dots li.slick-active button:before {
    display: flex;
    content: url("../icn/dot_active.svg");
  }

}